@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

#map {
	width: 100%;
	height: 92%;
}


.fa-times {
	font-family: 'Material Icons';
	font-weight: normal;
	font-style: normal;
	font-size: 30px; /* Preferred icon size */
	display: inline-block;
	line-height: 1;
	text-transform: none;
	letter-spacing: normal;
	word-wrap: normal;
	white-space: nowrap;
	direction: ltr;
	/* Support for all WebKit browsers. */
	-webkit-font-smoothing: antialiased;
	/* Support for Safari and Chrome. */
	text-rendering: optimizeLegibility;
	/* Support for Firefox. */
	-moz-osx-font-smoothing: grayscale;
	/* Support for IE. */
	font-feature-settings: 'liga';
}

.fa-thumbs-o-up {
	font-family: 'Material Icons';
	font-weight: normal;
	font-style: normal;
	font-size: 80px; /* Preferred icon size */
	display: inline-block;
	line-height: 1;
	text-transform: none;
	letter-spacing: normal;
	word-wrap: normal;
	white-space: nowrap;
	direction: ltr;
	/* Support for all WebKit browsers. */
	-webkit-font-smoothing: antialiased;
	/* Support for Safari and Chrome. */
	text-rendering: optimizeLegibility;
	/* Support for Firefox. */
	-moz-osx-font-smoothing: grayscale;
	/* Support for IE. */
	font-feature-settings: 'liga';
}

html, body {
	width: 100%;
	height: 100%;
	margin: 0;
}

.page-wrapper {
	width: 100%;
	background: url(https://goo.gl/OeVhun) center no-repeat;
	background-size: cover;
}

.blur-it {
	filter: blur(4px);
}

a.btn {
	width: 200px;
	padding: 18px 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-family: 'Montserrat', Arial, Helvetica, sans-serif;
	font-weight: 700;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	color: #fff;
	border-radius: 0;
	background: #e2525c;
}

.modal-wrapper {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background: rgba(41, 171, 164, 0.8);
	visibility: hidden;
	opacity: 0;
	transition: all 0.25s ease-in-out;
}

.modal-wrapper.open {
	opacity: 1;
	visibility: visible;
}

.modal {
	width: 800px;
	height: 600px;
	display: block;
	margin: 20% 0 0 -400px;
	/* 	margin: 50% 0 0 -300px; */
	position: relative;
	top: 50%;
	left: 50%;
	background: #fff;
	opacity: 0;
	transition: all 0.5s ease-in-out;
	left: 50%;
}

.modal-wrapper.open .modal {
	margin-top: -300px;
	opacity: 1;
}

.head {
	width: 92.5%;
	height: 32px;
	padding: 12px 30px;
	overflow: hidden;
	background: #7511F0;
	/* 	background: #e2525c; */
}

.btn-close {
	font-size: 28px;
	display: block;
	float: right;
	color: #fff;
}

.content {
	padding: 10%;
}

.good-job {
	text-align: center;
	font-family: 'Montserrat', Arial, Helvetica, sans-serif;
	color: #e2525c;
}

.good-job h1 {
	font-size: 45px;
}